label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
  }
  
  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    font-size: 16px; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    margin: 10px 0; /* Margem superior e inferior */
    padding: 5px 0;
    width: 100%; /* Espaçamento interno superior e inferior */
  }
  
  button {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 30px;
  }
  
  button:hover {
    color: black;
  }
  
  button.generate-pdf {
    background-color: #28a745; 
  }

.div-encerramento {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(34, 27, 27, 0.1);
  margin-top: 180px;
}
 .div-abertura {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(34, 27, 27, 0.1);
  align-items: center;
  margin-top: 180px;
}

.div-abertura,
.div-encerramento {
  flex: 1;
  padding: 20px; 
}

.input-container {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: top;
  width: 30%; 
}
.input-container-date {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: top;
  width: 35%; 
}
.input-container-nome {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: top;
  width: 100%; 
}
.input-container-folha {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: top;
  width: 48%; 
}
.input-container-vol {
  display: inline-block;
  margin-right: 10px; 
  vertical-align: top;
  width: 48%; 
}

.input-container-n2 {
  display: inline-block;
  margin-right: 10px; 
  width: 40%;
}

.input-date {
  display: inline-block;
  width: 40%;
}

.input-nome {
  width: 30%;
}

.container-date-name {
  display: flex;
  align-items: center;
}

.ti-delete{
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle; 
  margin-left: 5px; 
}

.FieldCommon {
  margin: 0;
  padding: 2px;
  margin-bottom: 5px;
  color: rgb(199, 188, 31);
  font-size: smaller;
}

.FieldError {
  margin: 0;
  padding: 2px;
  margin-bottom: 5px;
  color: rgb(194, 36, 36);
  font-size: smaller;
}

.FieldSuccess {
  margin: 0;
  padding: 2px;
  margin-bottom: 5px;
  color: rgb(101, 230, 16);
  font-size: smaller;
}
 

  