.centered-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da viewport inteira */
  }
  .jumping-image {
    position: absolute;
    width: 10%; /* Largura ocupando toda a tela */
    height: auto; /* Altura ocupando toda a tela */
    background: url('../img/brasao_osasco.png') center/cover no-repeat; /* Imagem de fundo do logotipo */
    animation: moveLogo 5s infinite, changeBackgroundColor 10s infinite; /* Adicione uma segunda animação para alterar o fundo */
    background-color: rgb(14, 108, 230);    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Adiciona uma sombra ao redor do logotipo */
    border-radius: 100px;
    background-color: rgb(14, 108, 230);
  }
  
  @keyframes moveLogo {
    0%, 100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20vw, 0);
    }
    50% {
      transform: translate(0, 20vh);
    }
    75% {
      transform: translate(-20vw, 0);
    }
  }

  @keyframes changeBackgroundColor {
    0% {
      background-color: rgb(14, 108, 230);
    }
    25% {
      background-color: rgb(230, 14, 108); /* Altere para a cor desejada */
    }
    50% {
      background-color: rgb(108, 230, 14); /* Altere para a cor desejada */
    }
    75% {
      background-color: rgb(14, 108, 230);
    }
  }