label {
  display: block; /* Cada label em uma linha separada */
  margin-bottom: 5px; /* Espaçamento inferior entre os labels */
  font-weight: bold; /* Deixar os rótulos em negrito */
}

input {
  width: 50%; /* Preenche a largura do contêiner pai */
  padding: 10px; /* Espaçamento interno nos campos de entrada */
  margin-bottom: 15px; /* Espaçamento inferior entre os campos de entrada */
  border: 1px solid #ccc; /* Adiciona uma borda cinza */
  border-radius: 4px; /* Borda arredondada */
}

button {
  padding: 10px 15px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin: 3px;
}

button:hover {
  color: black;
}

/* Estilizando o botão Gerar PDF */
button.generate-pdf {
  background-color: #28a745; /* Cor de fundo verde */
}

.abertura {
  justify-content: space-evenly;
  margin-bottom: auto;
}
